@font-face {font-family: "UnitRoundedWebW04-Medium";
  src: url("Fonts/UnitRounded/df95e3992fd02d37658159f854074656.eot"); /* IE9*/
  src: url("Fonts/UnitRounded/df95e3992fd02d37658159f854074656.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("Fonts/UnitRounded/df95e3992fd02d37658159f854074656.woff2") format("woff2"), /* chrome、firefox */
  url("Fonts/UnitRounded/df95e3992fd02d37658159f854074656.woff") format("woff"), /* chrome、firefox */
  url("Fonts/UnitRounded/df95e3992fd02d37658159f854074656.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("Fonts/UnitRounded/df95e3992fd02d37658159f854074656.svg#UnitRoundedWebW04-Medium") format("svg"); /* iOS 4.1- */
}

 body h1, body h2, body h3, body h4 {
     font-family: UnitRoundedWebW04-Medium, sans-serif;
     font-weight: bold;
     color: #21989d;
 }

.navbar-header {
    height: 90px;
}

.navbar-brand {
    height: 90px;
    line-height: 60px;
}
.navbar-brand span {
    font-family: UnitRoundedWebW04-Medium,sans-serif;
    font-weight: bold;
    vertical-align: middle;
    font-size: 1.3em;
}
.navbar-brand .navbar-left img {
    display: inline;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

body .navbar.navbar-inverse {
    background-color: #00303b;
    background-image: unset;
}
.navbar .navbar-nav {
    height: 90px;
}
.navbar .navbar-nav li {
    height: 90px;
}
.navbar .navbar-nav li a {
    height: 90px;
    line-height: 60px;
}
.navbar-inverse .navbar-nav li.active a {
    background-color: #5c7b82
}
.navbar-inverse .navbar-nav li.active a:hover {
    background-color: #5c7b82
}
.navbar-inverse .navbar-nav li.active a:focus {
    background-color: #5c7b82
}
.navbar-inverse .navbar-nav li a:hover {
    background-color: #6d8d94
}
.navbar-inverse .navbar-nav li a:focus {
    background-color: #5c7b82
}

.lower-footer {
    background-color: #00303b;
    color: #fefefe;
}